<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<h1>Новый пользователь</h1>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="userName">Имя: </label>
    <input type="text" th:field="*{userName}" id="userName"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{userName}"></div>
    <nobr style="color:red" th:text="${message}"></nobr>
    <br/>
    <label for="surName">Фамилия: </label>
    <input type="text" th:field="*{surName}" id="surName"/>
    <div style="color:red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"></div>
    <br/>
    <label for="emeil">Emeil: </label>
    <input type="text" th:field="*{emeil}" id="emeil"/>
    <div style="color:red" th:if="${#fields.hasErrors('emeil')}" th:errors="*{emeil}"></div>
    <br/>

    <label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>

    <div>
        <label for="roles">Роль:</label>
        <br/>
        <select name="roles" id="roles" size="2" multiple>
            <option th:value="ROLE_ADMIN" th:text="ADMIN"></option>
            <option th:value="ROLE_USER" th:text="USER"></option>
        </select>
    </div>

    <br/>
    <br/>
    <input type="submit" value="Создать"/>
</form>

<br/>
<form th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>