<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
<h1>Пользователи</h1>
<table th:border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Emeil</th>
        <th>Роль</th>
        <th>Изменить пользователя</th>
        <th>Удалить пользователя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td>
            <a th:text="${user.getId()}">id</a>
        </td>
        <td th:text="${user.getUserName()}">userName</td>
        <td th:text="${user.getSurName()}">lastName</td>
        <td th:text="${user.getEmeil()}">emeil</td>
        <td th:text="${user.getRoles()}"></td>
        <td><form th:method="GET", th:action="@{/admin/edit/{id}(id=${user.getId()})}"><input type="submit" value="Изменить"/></form></td>
        <td><form th:method="DELETE", th:action="@{/admin/edit/{id}(id=${user.getId()})}"><input type="submit" value="Удалить"/></form></td>
    </tr>

    </tbody>
</table>
    <a href="/admin/new"><input type="submit" value="Создать нового пользователя"></a>
    </div>
<br/>
<hr/>

</form>
<br/>
<form th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>