<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Пользователь</h1>

<table th:border="1">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Emeil</th>
        <th>Пароль</th>
        <th>Роль</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId}"></td>
        <td th:text="${user.getUsername()}">userName</td>
        <td th:text="${user.getSurName()}">surName</td>
        <td th:text="${user.getEmeil()}">emeil</td>
        <td th:text="${user.getPassword()}">password</td>
        <td th:each="role: ${user.getRoles()}" th:text="${role.getName()}">roles</td>
    </tr>
</table>

<br/>
<form th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>